<div style="margin: 5px">
  <h4
    data-hint="Hello! 👋 Click on this link"
    data-hintposition="left"
  >
    Quaco Lighthouse
  </h4>

  <div id="tool1" data-hint="You can select the text" data-hintposition="top-middle" >Place to show first tooltip</div>
  <div id="tool2" data-hint="You can select the text" data-hintposition="top-middle" >
    Place to show second tooltip
  </div>
  <div id="tool3" data-hint="You can select the text" data-hintposition="top-middle" >
    Place to show second tooltip
  </div>
  <div id="tool4" data-hint="You can select the text" data-hintposition="top-middle" >
    Place to show second tooltip
  </div>
  <button (click)="startTour()">Start Tour</button>
</div>
